<!DOCTYPE html>
<html>
<head>

<title>{% block title %} baseBashboard {% endblock %}</title>

   {% block stylesheets %}
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
       

       <!-- Custom fonts for this template-->
       <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/dashboard/fonts/css/all.min.css">
      
     
       <!-- CSS personalizado --> 
     <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/dashboard/css/sb-admin-2.min.css">
     <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/dashboard/css/sb-admin-2.css">
    
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/dashboard/css/main.css">

      <!-- Bootstrap core CSS     -->
     <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/datatables/bootstrap/css/bootstrap.min.css">
   


     <!--datables CSS básico-->
     <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/datatables/datatables.min.css">
    
   <!--datables estilo bootstrap 4 CSS-->  
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">

   <!--alert-->
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/select2/select2.min.css">

  {% endblock %}

  </head>

<body>
{% block body %}



{% endblock %}

{% block JavaScript %}  

 <!-- Bootstrap core JavaScript-->
 <script src="{{ app.request.getBaseURL() }}/assets/dashboard/js/jquery.3.2.1.min.js"></script>
 <script src="{{ app.request.getBaseURL() }}/assets/dashboard/js/jquery.min.js"></script>
  <script src="{{ app.request.getBaseURL() }}/assets/dashboard/js/bootstrap.bundle.min.js"></script>
 

  <!-- Core plugin JavaScript-->
   <script src="{{ app.request.getBaseURL() }}/assets/dashboard/js/jquery.easing.min.js"></script>
  

  <!-- Custom scripts for all pages-->
  <script src="{{ app.request.getBaseURL() }}/assets/dashboard/js/sb-admin-2.min.js"></script>
  
<!-- alert -->
<script src="{{ app.request.getBaseURL() }}/assets/select2/select2.min.js"></script>
<script src="{{ app.request.getBaseURL() }}/assets/sweetalert2/sweetalert2.js"></script>

 <!-- datatables JS -->
 <script src="{{ app.request.getBaseURL() }}/assets/datatables/datatables.min.js"></script>   
 <script src="{{ app.request.getBaseURL() }}/assets/dashboard/js/main.js"></script> 



{% endblock %}
</body>
</html>