{% extends 'base.html.twig' %}

{% block title %} Dashboard {% endblock %}

   {% block stylesheets %}
   <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block body %}
<div class="main">
<div class="menu">
<h2 id="logo">Logo<h2>
 <a href="{{ app.request.getBaseURL() }}/">Salir</a>
 <a href="{{ app.request.getBaseURL() }}/">Citas</a>
 <a href="{{ app.request.getBaseURL() }}/">Usuarios</a>
 <a href="{{ app.request.getBaseURL() }}/">Servicios</a>
 <a href="{{ app.request.getBaseURL() }}/">Lista de P.S</a>



<div class="body">
<h1> Tabla</h1>
<p> Contenido <p>

</div>
</div>
{% endblock %}